body{
margin:0;
font-family:Arial;
background:linear-gradient(
135deg,
#090909,
#240015
);
color:white;
}

header{
position:fixed;
top:0;
width:100%;
background:rgba(0,0,0,.4);
padding:15px;
}

nav{
display:flex;
justify-content:space-between;
}

ul{
display:flex;
list-style:none;
}

li{
margin-left:15px;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.glass{
background:rgba(
255,
255,
255,
.08
);

padding:25px;
border-radius:20px;
backdrop-filter:blur(10px);
}

.logo,
h1 span{
color:#ff4da6;
}

.profile{
width:140px;
height:140px;
border-radius:50%;
}

.btn{
padding:10px 20px;
background:#ff4da6;
color:white;
border-radius:20px;
text-decoration:none;
margin:5px;
display:inline-block;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
width:200px;
padding:20px;
}

section{
padding:80px 20px;
text-align:center;
}